<p id="notice"><%= notice %></p>

<h1>List O' Friends!</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each.with_index do |friend, i| %>

      <% if i.even? %>
        <tr class="table-info">
      <% else %>
        <tr class="table-secondary">
      <% end %>
        <td scope="col"><%= friend.first_name %></td>
        <td scope="col"><%= friend.last_name %></td>
        <td scope="col"><%= friend.phone %></td>
        <td scope="col" colspan="3"><%= friend.email %></td>
        <td scope="col" colspan="1"><%= link_to 'Show', friend %></td>
        <td scope="col" colspan="1"><%= link_to 'Edit', edit_friend_path(friend) %></td>
        <td scope="col" colspan="1"><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path %>
